@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
*{
    font-family: "poppins";
}
.accordion-button{ 
    background-color:#F2AE2E;
}

    #navfont {
        color:white;
        padding-left: 10px;
            text-align:center;
            font-size: 30px;
      }
      
      #navfont:hover {
        color: #02568A;
      }

p{
    font-size:20px;
}
.text-container{
    color: #02568A;
}
.footer {
    display:flex;
    flex-direction: row;
    background-color: #02568A;
    height: 125px;
}
strong{
    color: #02568A;
}
.apply-img{
    width:3rem;}

.navbar-toggler{
    background-color:#F2AE2E;
    width: 6rem;}

.nav-link{
    border: solid #02568A;
border-radius:10px ;
     background-color:#F2AE2E;
     width: 100%;

}
.nav-link:hover{

}
.container form {
    background-color: #02568A ;
}
nav{ 
    display: flex;
    padding-top: 20rem;
    margin-top: -5px;
    border-radius: 19px;
    height:350px;
}
.navbar-nav{
    font-size:30px; 
}

h1, h4{ 
    font-family: "Poppins"; sans-serif;
    font-weight: bolder, 700;
    color: #02568A;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 3px;
    text-decoration-line:underline;
    text-decoration-color: #F2AE2E;
    text-shadow: rgba(0, 0, 0, 0.46) 0 2px 5px;
}


.container-text{
    display:flex;
    flex-direction: column;
}
.app-head{
    font-size:3rem;
}

.join-text{
    text-align: center;
    font-size:rem;
    color:#7EB6D9;
}

.d-grid{ height: 4rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:#F2AE2E;
  }

  fieldset { 
    width: 100%;
    margin-bottom: 30px;

  }

header
    {font-size: 2rem;}

    .app-text{ 
        color: #fdfdfd;
        text-align: center;
        font-size: 3rem;
}

ul.course-list{
    list-style-type: circle;
color: #02568A;}

.in-text{color:#F2AE2E}

button{
    width:100%;
    height:3rem;
    margin-bottom: 20px;
}

.container form{
    max-width: 40rem;
    margin: 10px auto;
    padding: 10px 20px;
    background: #02568A;
    border-radius: 8px;
}
input::placeholder,
textarea::placeholder {
  color:#7EB6D9;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
  background: #79ADD5;
  border: 2px solid transparent;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #4d4d4d;
  margin-bottom: 30px;
  transition: all 350ms;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 5px solid #F2AE2E;
}


button{
    padding: 0 39px 40px 39px;
    color: #fff;
    background-color: #F2AE2E;
    font-size:2rem;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    transition: all 350ms;
}

button:hover,
button:focus {
  filter:brightness(80%)
}


input[type="SUBMIT"]
select{
background-color: #F2AE2E;
padding: 19px 39px 18px 39px;
color: #fff;
font-size: 18px;
text-align: center;
font-style: normal;
border-radius: 5px;
border: none;
width: 100%;
margin-bottom: 10px;
transition: all 350ms;

}
fieldset {
    margin-bottom: 30px;
    border: none;
    color:#ffffff;}

    h3 {
        font-family: "Poppins"; 
        font-weight: 400;
        color:white;
        padding:10px;
    }

    .contact{
        padding: 2rem;
        font-size: 2rem;
        text-align: center;
        color:#02568A;
        font-weight: 1000;
    }
    .btn btn-primary{
        border-radius: 30px;
    }
P{
    color: #02568A;
}
.accordion-button {
    background-color: #02568a;
    color: #fff;
    font-weight: 700;
    border-color: rgba(255, 255, 255, 0.529);
  }
  
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
  
  .accordion-button::after {
    filter: invert(100%);
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #f2ae2e;
    color: #fff;
  }
  
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }